<h1> active. by ambreea | abbosbek </h1>

<h3>Recovery Index</h3>
<% @recoveries.each do |r| %>
    <li><%= r.recovery_type %></li>
    <% end %>

<p><%= button_to "New Recovery Log", {controller: "recovery_logs", action: "new"}, method: :get %></p>
